html {
  font-family: sans-serif;
  }
.li1{
   font-size: .53em;

}

.li2{
  font-size: .70em;
}

.li3{
  font-size: .65em;
}

.li4{
  font-size: .75em;
}

.li5{
  font-size: .75em;
}

.li6{
  font-size: .55em;
}

.li7{
  font-size: .75em;
}

.li8{
  font-size: .75em;
}

.li9{
  font-size: .75em;
}

.li10{
  font-size: .55em;
}

html, body, div, article, p, h3, h4 {
   margin: 0em;
   padding: 0em;
   }

.wrapper {
  width: 90%;
  margin: 0 auto;
}
.cover {
 width: 250px;
 float: left;
  margin: .5em;
  height: 250px;
 overflow: hidden;
 position: relative;
}

.cover article {
  position: relative;
  background-color: rgba(255,255,255,0.5);
  height: 251px;
  font-size: 5em;
  padding: 5em;
  margin-top: 0;
  }

.cover:hover article {
  margin-top: -255px;
  cursor: pointer;
}
.cover article h3,.cover article h4, .cover article p{
  padding: .3em;
}
